.bg-gradient-white {
    background: #ADA996;
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); 
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); 
}
.productos-img-info {
    width: 15rem;
    height: 22rem;
    object-fit: cover;
    border-radius: 25%;
    padding: 8px 19px;
}
.img-productos {
    width: 700px;
    height: 500px;
    object-fit: cover;
    border: 2px solid floralwhite;
}