.img-navbar {
    height: 60px;
    width: auto;
}
.bg-navbar {
    background-color: rgb(4, 31, 30);
}
.links-navbar {
    color: rgba(219, 39, 99, 0.6);
    font-weight: bold;
    &:hover {
        color: rgba(92, 42, 52);
    }
}
.links-g {
    margin-left: 10px;
    transition: all 0.5s ease-out;
}
.link-directo {
    margin-left: 0.5rem;
    color: rgb(219, 39, 99);
    font-size: 20px;
    font-weight: 600px;
    &:hover {
        color: whitesmoke;
    }
}
.text-link-color {
    color: rgb(219, 39, 99);
}
