.bg-gradient-rose {
    background: #EF3B36;
    background: -webkit-linear-gradient(to right, #FFFFFF, #EF3B36);
    background: linear-gradient(to right, #FFFFFF, #EF3B36);
}
.columna-jabones {
    padding: 8px 18px;
}
.productos-img-jabones {
    width: 20rem;
    height: 22rem;
    object-fit: cover;
    border-radius: 25%;
    border: 2px solid floralwhite;
}
.p-jabones {
    margin-bottom: 0px;
}